#!/usr/bin/make -f
export IMAGINE_PATH := $(CURDIR)
%:
	dh $@

override_dh_auto_configure:
	cmake --preset linux-x86_64

override_dh_auto_build:
	cmake --build build/linux-x86_64

override_dh_auto_install:
	mkdir -p debian/emu-ex-plus-alpha-imagine/usr/bin
	# install -m755 path/to/output debian/emu-ex-plus-alpha-imagine/usr/bin/
